* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 5vw 70vw 25vw;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  --cols: 24;
  flex: 1;
}
main > section {
  --span: 24;
  --basis: calc((var(--span) / var(--cols)) * 100%);
  flex-shrink: 0;
  flex-basis: var(--basis);
  overflow: hidden auto;
}

@media screen and (min-width: 1024px) {
  main > .sidebar {
    --span: 4;
  }
  main > .alert-panel {
    --span: 6;
    overflow: hidden;
  }
  main > .alert-panel > article {
    overflow: hidden auto;
  }
  main > .console-panel {
    flex: 1 1 auto;
  }
}
