/* base.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: medium;
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-display: swap;
  font-style: normal;
  color: var(--color-text-primary);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  background-color: var(--color-bg-app);
}

header {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 5vw 70vw 25vw;
  box-shadow: 0 1px 0 0 var(--color-header-border);
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  --cols: 24;
  flex: 1;
  overflow: hidden;
}

main > article,
main > aside {
  --span: 24;
  --basis: calc((var(--span) / var(--cols)) * 100%);
  flex-shrink: 0;
  flex-basis: var(--basis);
  max-height: 100%;
  overflow: hidden scroll;
}

/* --- RESPONSIVE LAYOUT --- */
/* Keeps the grid logic centralized */

@media screen and (min-width: 1024px) {
  main > .sidebar {
    --span: 6;
  }
  main > .alert-panel {
    --span: 6;
    overflow: hidden;
  }
  main > .alert-panel > section {
    overflow: hidden auto;
    max-height: 50%;
    height: 50%;
  }
  main > .console-panel {
    flex: 1 1 auto;
  }
}
