/* alert-panel.css */

.alert-panel .alert-stream .list {
  list-style-type: none;
  width: 100%;
  background-color: var(--color-bg-panel);
  font-size: var(--font-size-small);
  box-shadow: inset var(--shadow-elevation-lg), var(--shadow-elevation-md);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.alert-panel .alert-stream .list .item {
  padding: 1rem;
  padding-left: calc(10% + 0.25rem);
  padding-right: calc(10% + 0.25rem);
  /* 2. Make the severity indicator a solid inset shadow 
     (Standard borders get cut by clip-path) */
  box-shadow: inset 4px 0 0 0 var(--color-item-border-transparent);
  background-color: var(--color-bg-panel);
  transition: background-color 0.2s;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.095rem;
  --cols: 12;
  /* Defining the points of the shape (Top-Left to Bottom-Left) */
  /* We begin from the top left corner each couplet / tuple is a rep of x,y distance traveled*/
  clip-path: polygon(
    0% 0%,
    100% 0%,
    90% 50%,
    100% 100%,
    0% 100%,
    10% 50%,
    0% 0%
  );
}

.alert-panel .alert-stream .list .item h4,
.alert-panel .alert-stream .list .item span {
  display: inline-block;
  flex-basis: calc((var(--span) / var(--cols)) * 100%);
}
.alert-panel .alert-stream .list .item h4 {
  --span: 7;
  font-size: 0.9em;
  text-transform: capitalize;
}
.alert-panel .alert-stream .list .item span {
  --span: 2;
  font-size: 0.8em;
  color: var(--color-text-primary);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.alert-panel .alert-stream .list .item:hover {
  background-color: var(--color-item-bg-hover);
}

.alert-panel .alert-stream .list .item.selected {
  background-color: var(--color-item-bg-selected);
  border-left-color: var(--color-text-highlight);
}

.alert-panel .alert-stream .list .item.alert-critical {
  box-shadow: inset 2px 2px 8px 0 var(--color-status-offline);
  color: var(--color-status-offline);
}
.alert-panel .alert-stream .list .item.alert-warning {
  box-shadow: inset 2px 2px 8px 0 var(--color-status-degraded);
  color: var(--color-status-degraded);
}
.alert-panel .alert-stream .list .item.alert-info {
  box-shadow: inset 2px 2px 8px 0 var(--color-status-booting);
  color: var(--color-status-booting);
}
